.property-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1em;
}

.hutong {
  max-height: 4em;
  margin-top: 8em;
  text-align: center;
  cursor: grab;
}

.hutong:active {
  cursor: grabbing;
}

.hutong-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
