.property-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.properties {
  padding: 1em;
}

.hutong {
  max-height: 4em;
  margin-top: 8em;
  text-align: center;
  cursor: grab;
}

.hotel-example {
  margin-bottom: 0;
}

.main-card.propCard.houses {
  height: 25em;
}
.hutong:active {
  cursor: grabbing;
}

.hutong-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buy {
  width: 10em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding-bottom: 1em;
}

.innerModalProps.flex.flexColumn.properties {
  justify-content: center;
}

.hutong-piece {
  max-height: 3em;
}

.insufficient-warning {
  color: red;
  font-family: "Monopoly";
  font-size: 2em;
  margin: 0;
}

.buy {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 12px -2px;
  font-family: "Monopoly";
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 8em;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.buy:hover {
  background-color: grey;
  color: white;
}

.done {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 12px -2px;
  font-family: "Monopoly";
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 6em;
  padding: 0.5em;
  padding-bottom: 0.5em;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.done:hover {
  background-color: gray;
  color: white;
}
