.carousel {
  overflow: hidden;
  border-radius: 6px;
  border: 3px solid red;
  background-color: black;
  box-shadow: 3px 3px 6px;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20em;
  background-color: black;
  color: #fff;
}

.carousel-pic {
  height: 18em;
}

.indicators {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.indicators > button {
  margin: 5px;
}

.indicators-button {
  padding-left: 0.75em;
  padding-right: 0.75em;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  line-height: 14px;
  position: relative;
  background-color: red;
  font-family: "Monopoly";
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: 0.4s;
}

.indicators-button:hover {
  background-color: rgb(180, 5, 5);
}

.indicators-button:before,
.indicators-button:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  right: 4px;
  height: 6px;
}

.indicators-button:before {
  top: 0;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.6);
}

.indicators-button:after {
  bottom: 0;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15);
}

.indicators-button:disabled {
  background-color: grey;
  cursor: default;
}

.choice-name {
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.select-piece {
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  line-height: 14px;
  position: relative;
  background-color: red;
  font-family: "Monopoly";
  font-size: 2em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: 0.4s;
}

.select-piece:hover {
  background-color: rgb(180, 5, 5);
}

.select-piece:before,
.select-piece:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  right: 4px;
  height: 6px;
}

.select-piece:before {
  top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.6);
}

.select-piece:after {
  bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15);
}

.select-container {
  margin-top: 0.5em;
  text-align: center;
}
