.page-container {
  display: flex;
  flex-direction: column;
}

.main-title {
  color: red;
  font-size: 8em;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

.title-container {
  background-color: white;
  border: 2px black solid;
  border-radius: 6px;
  box-shadow: 3px 3px 9px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  width: 60%;
}

.carousel-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

.player-choice {
  text-align: center;
  margin: 0;
  margin-bottom: 0.25em;
  font-family: "Monopoly";
  font-size: 4em;
  text-decoration: underline;
}

.player1 {
  padding-right: 1.5em;
}

.player2 {
  padding-left: 1.5em;
}

.carousel-container {
  margin: 1em;
  width: 30%;
}

img {
  height: 12em;
}
