.main-title {
  color: red;
  font-size: 8em;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

.title-container {
  background-color: white;
  border: 2px black solid;
  border-radius: 6px;
  box-shadow: 3px 3px 9px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  width: 60%;
}
