.depressed {
  max-width: 30em;
  border-radius: 6px;
  border: 2px red solid;
  box-shadow: 2px 2px 8px;
  margin-top: 0.5em;
}

.instructions.in-jail {
  font-family: "Monopoly";
  font-size: 2em;
  margin-bottom: 0;
}

.instructions-bottom {
  font-family: "Monopoly";
  font-size: 2em;
  margin-top: 0;
}

.innerModal {
  padding: 2em;
}

.roll-button {
  font-size: 1.5em;
}

.leave-button {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 12px -2px;
  font-family: "Monopoly";
  font-size: 1.5em;
  width: 6em;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.leave-button:disabled {
  background-color: grey;
  cursor: default;
  color: rgb(197, 196, 196);
}

.leave-button:hover {
  background-color: grey;
  color: #c0e2ca;
}
