html,
body {
  margin: 0;
  height: 100%;
  background-size: cover;
  background-repeat: stretch;
  background-image: url("../../Assets/Landing/mainbackground.png");
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.button-container {
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-logo {
  max-width: 80em;
  width: 100%;
  height: 30em;
  padding-top: 10em;
  padding-bottom: 1em;
  margin-right: 0;
  padding-right: 0;
}

.man {
  margin-left: 0;
  padding-left: 0;
  height: 600px;
  margin-top: 18em;
  text-align: right;
  max-height: 70em;
}

.button-man {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}

.music-button-container {
  height: 2em;
}

.logo-with-man {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container {
  width: 50em;
}

.logo-button-small {
  display: flex;
  flex-direction: column;
}

.logo-and-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.play-button {
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  line-height: 14px;
  position: relative;
  background-color: red;
  font-family: "Monopoly";
  font-size: 4em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: 0.4s;
}

.play-button:hover {
  background-color: rgb(180, 5, 5);
}

.play-button:before,
.play-button:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  right: 4px;
  height: 6px;
}

.play-button:before {
  top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.6);
}

.play-button:after {
  bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: 1441px) {
  .man {
    margin-left: 0;
    padding-left: 0;
    height: 800px;
    margin-top: 15em;
    text-align: right;
    max-height: 70em;
  }

  .main-logo {
    max-width: 80em;
    width: 100%;
    height: 30em;
    padding-top: 13em;
    padding-bottom: 1em;
    margin-right: 0;
    padding-right: 0;
  }
}
