.text-container-money {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.red-text {
  color: red;
}

.top-prop.yellow {
  background-color: yellow;
}

.top-prop.red {
  background-color: red;
}

.top-prop.orange {
  background-color: orange;
}

.top-prop.green {
  background-color: green;
}

.top-prop.blue {
  background-color: blue;
}

.top-prop.violet {
  background-color: violet;
}

.top-prop.brown {
  background-color: rgba(134, 56, 4, 0.993);
}

.top-prop.light-blue {
  background-color: rgb(137, 174, 245);
}

.prop-card {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  height: 4.5em;
  width: 4em;
}

.top-prop {
  height: 35%;
}

.white-prop {
  background-color: white;
  height: 65%;
}

.asset-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.propname {
  margin-bottom: 0.1em;
}

.must-instructions {
  font-family: "Monopoly";
  font-size: 2.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.must-instructions.explain {
  font-size: 2em;
  margin-top: 0.25em;
}

.button-area {
  margin-top: 1em;
}

.must-button {
  margin: 1em;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.4), inset 0 0 3px 5px rgba(0, 0, 0, 0.05),
    2px 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  line-height: 14px;
  position: relative;
  background-color: red;
  font-family: "Monopoly";
  font-size: 1.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  transition: 0.4s;
}

.must-button:disabled {
  background-color: gray;
  cursor: default;
}
