.x-icon {
  height: 2em;
}

.button-row {
  width: 100%;
  text-align: right;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  margin: 1em;
  transition: 0.3s;
}

.close-button:hover {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.innerModalPay {
  position: relative;
  border: none;
  overflow-y: auto;
  padding: 1em;
  background-color: #c0e2ca;
  border-radius: 6px;
  border: 4px solid red;
  box-shadow: none;
}

.roll-instruction {
  margin-top: 0;
  margin-bottom: 0.1em;
}

.money {
  height: 4em;
}

.explanation {
  margin-top: 0;
}

.number {
  color: red;
}

.die {
  margin: 0.1em;
}

.roll-section {
  justify-content: center;
}

.innerModalPayUtil {
  position: relative;
  border: none;
  overflow-y: auto;
  background-color: #c0e2ca;
  border-radius: 6px;
  border: 4px solid red;
  box-shadow: none;
  padding: 1em;
}

.innerModalPayRail {
  position: relative;
  border: none;
  overflow-y: auto;
  width: 50em;
  background-color: #c0e2ca;
  border-radius: 6px;
  border: 4px solid red;
  box-shadow: none;
  padding: 1em;
}

.outerModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black 0.8;
}

.rent {
  color: red;
}

.main-content-container {
  font-family: "Monopoly";
  font-size: 2em;
  text-align: center;
}

.line-1 {
  margin-top: 0;
}

.cash-pic {
  height: 6em;
  border-radius: 6px;
  border: 3px red solid;
  box-shadow: 2px 2px 2px black;
}

.ammount {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.line-1 {
  margin-bottom: 0.5em;
}

.pay-saying {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-style: italic;
}

.continue-button {
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 12px -2px;
  font-family: "Monopoly";
  font-size: 1em;
  width: 6em;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.continue-button:hover {
  background-color: grey;
  color: #c0e2ca;
}
