.flex {
  display: flex;
}

.centerFlex {
  justify-content: center;
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}

.x-icon {
  height: 2em;
}

.outerModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black 0.8;
}
.outerModal.flex.centerFlex {
  background: rgba(0, 0, 0, 0.5);
}

.innerModal {
  position: relative;
  border-radius: 20px;
  background-color: white;
  overflow-y: auto;
  width: 70em;
  height: 40em;
}

.button-row {
  width: 100%;
  text-align: right;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 1em;
  transition: 0.3s;
}

.close-button:hover {
  color: grey;
}

.main-row {
  display: flex;
  flex-direction: row;
}

.banner {
  height: 1em;
  border: 1px solid black;
  width: 100%;
}

.banner.red {
  background-color: red;
}

.banner.purple {
  background-color: violet;
}

.banner.dark-blue {
  background-color: blue;
}

.banner.green {
  background-color: green;
}

.banner.brown {
  background-color: rgba(134, 56, 4, 0.993);
}

.banner.light-blue {
  background-color: rgb(137, 174, 245);
}

.banner.yellow {
  background-color: yellow;
}

.banner.orange {
  background-color: orange;
}
