.x-icon {
  height: 2em;
}

.button-row {
  width: 100%;
  text-align: right;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  margin: 1em;
  transition: 0.3s;
}

.close-button:hover {
  color: grey;
}

.container {
  display: flex;
  flex-direction: column;
}

.outerModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black 0.8;
}

.outerModal.flex.centerFlex {
  background: rgba(0, 0, 0, 0.5);
}

.innerModalPurhcase {
  position: relative;
  border: none;
  overflow-y: auto;
  width: 70em;
  height: 42em;
  box-shadow: none;
}

.purchased-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: transparent;
  justify-content: center;
}

.title-top {
  color: white;
  text-shadow: black 2px 2px 2px;
  font-family: "Monopoly";
  font-size: 2em;
  margin-top: 0;
}

.dollar-sign {
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 4em;
}

.title-bottom {
  color: white;
  text-shadow: black 2px 2px 2px;
  font-family: "Monopoly";
  font-size: 2em;
}
