.x-icon {
  height: 2em;
}

.button-row {
  width: 100%;
  text-align: right;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  margin: 1em;
  transition: 0.3s;
}

.close-button:hover {
  color: grey;
}

.container {
  display: flex;
  flex-direction: column;
}

.outerModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black 0.8;
}

.outerModal.flex.centerFlex {
  background: rgba(0, 0, 0, 0.5);
}

.innerModalPurhcase {
  position: relative;
  border: none;
  overflow-y: auto;
  width: 70em;
  height: 42em;
  box-shadow: none;
}

.purchased-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: transparent;
  justify-content: center;
}

.title-top {
  color: white;
  text-shadow: black 2px 2px 2px;
  font-family: "Monopoly";
  font-size: 2em;
  margin-top: 0;
}

.dollar-sign {
  margin-left: auto;
  margin-right: auto;
  height: 5em;
  width: 4em;
}

.title-bottom {
  color: white;
  text-shadow: black 2px 2px 2px;
  font-family: "Monopoly";
  font-size: 2em;
}

.message {
  font-family: "Monopoly";
  font-size: 1.5em;
  color: white;
  text-shadow: black 2px 2px 2px;
}

.main-square {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}

.main-square:hover {
  box-shadow: 2px 2px 2px black;
}

.main-square .top-square {
  border-bottom: 1px solid black;
  height: 1em;
}

.top-square.blue {
  background-color: blue;
}

.top-square.green {
  background-color: green;
}

.top-square.yellow {
  background-color: yellow;
}

.top-square.violet {
  background-color: violet;
}

.top-square.orange {
  background-color: orange;
}

.top-square.lightBlue {
  background-color: rgb(137, 174, 245);
}

.top-square.brown {
  background-color: rgba(134, 56, 4, 0.993);
}

.top-square.red {
  background-color: red;
}

.white-part {
  background-color: white;
  height: 2em;
}
