.ditie-logo {
  height: 5em;
}

.banner {
  text-align: center;
}

.rr {
  color: black;
  text-shadow: none;
  margin: 0;
}

.rail {
  border-bottom: none;
}

.saying-rr {
  font-size: 2em;
  font-family: "Monopoly";
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 0;
}

.bannerimage {
  height: 4em;
}
.rent1Container {
  text-align: left;
}

.rent2Container {
  text-align: left;
}

.rent1 {
  margin-top: 0;
}

.prop-name.rr {
  font-family: "Monopoly";
}
