.main-trade {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px;
  background-color: #c0e2ca;
}

.close-button {
  color: black;
}

.trade-title {
  font-family: "Monopoly";
  font-size: 3em;
}

.trade-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trade-column {
  display: flex;
  flex-direction: column;
}

.divider-line {
  border-left: 6px solid black;
  /* height: 90%; */
}
